body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.header {
    background-color: #dd5a5a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.heading {
    background-color: #5f0606;
    color: #fff;
    padding: 10px;
}

.group1 {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h4 {
    color: #ab2a2a;
}

.footer {
    background-color: #7a1212;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}