body {
    background-color: #f8f9fa; /* Set a light gray background color */
  }

  .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    border-radius: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .border-link {
    color: #007bff;
  }

  .border-link:hover {
    color: #0056b3;
  }

  .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
  }

  .text-muted {
    color: #6c757d;
  }
